{% extends "bacon/layout.html" %}
{% load static %}

{% block body %}

<div style="display: none" id="gameData" players="{{ players }}" timer="{{ timer }}"></div>

<h1 style="text-align: center;" id="time"></h1>

<h3 id="current-player"></h3><br><br>

<form id="guess_form" onsubmit="return false;">
    <div id="instruction"></div>
    <div class="form-group">
        <input class="form-control" type="text" id="guess_text" autofocus required>
    </div>
    <input class="btn btn-primary" type="submit" id="guess_button" value="Submit">
</form>

<br><h3 id='score'></h3>

<button class="btn btn-primary" id="play-again">Play Again</button>

{% endblock %}

{% block script %}
    <script>var CSRF_TOKEN = '{{ csrf_token }}';</script>
    <script src="{% static 'bacon/game.js' %}" ></script>
{% endblock %}