{% extends "bacon/layout.html" %}
{% load static %}

{% block body %}

<div style="display: none" id="gameData" players="{{ players }}" timer="{{ timer }}"></div>

<div style="text-align: center;" id="time"></div>

<div id="current-player"></div>

<div id="instruction"></div>

<div id="api_return"></div>

<form id="guess_form" onsubmit="return false;">
    <div class="form-group">
        <input class="form-control" type="text" id="guess_text" placeholder="Actor">
    </div>
    <input class="btn btn-primary" type="submit" id="guess_button" value="Submit">
</form>

{% endblock %}

{% block script %}
    <script>var CSRF_TOKEN = '{{ csrf_token }}';</script>
    <script src="{% static 'bacon/game.js' %}" ></script>
{% endblock %}